{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
        "src/"
    ],
    "reporter": [
        "lcov",
        "text-summary",
        "html"
    ],
    "require": [
        "ts-node/register",
        "source-map-support/register"
    ],
    "exclude": [
        "src/*.test.ts",
        "src/**/*.test.ts"
    ]
}
